body {
	background-image: url('thinking.jpg');
	background-position: center;
	padding: 20px;
	font-family: 'Droid Sans', sans-serif;
}

header {
	color: #fff;
	text-align: center;
}

main {
	width: 50%;
	padding: 20px 30px;
	background-color: #4D394B;
	color: #fff;
	margin: 50px auto;
	border-radius: 25px;
}

button {
	margin: 20px 10px;
}

footer {
	width: 50%;
	margin: auto auto;
	text-align: center;
}