body {
	background-color: #4D394B;
	padding: 20px;
	font-family: 'Droid Sans', sans-serif;
}

header {
	color: #fff;
	text-align: center;
}

main {
	width: 50%;
	padding: 10px 30px;
	background-color: #E8AC3C;
	color: #fff;
	margin: auto auto;
	border-radius: 25px;
}

button {
	margin: 20px 10px;
}

footer {
	width: 50%;
	margin: auto auto;
	text-align: center;
}